// for ng-select:
::ng-deep .ng-select.ng-select-opened>.ng-select-container{
    background: #f5f5f7 !important;
    border: none !important;
}
::ng-deep .ng-select .ng-select-container{
    background-color: #f5f5f7 !important;
    border:  none !important;
    min-height: 0 !important;
}
::ng-deep .ng-select.ng-select-single .ng-select-container{
    height: fit-content !important;
}
::ng-deep .ng-select .ng-select-container:hover{
    box-shadow: 0 0px 0 rgba(0, 0, 0, .06);
}