<div class="row justify-content-center d-flex" @fade>
    <div class="col-12 col-md-4 col-sm-6" routerLink="/my-student">
        <div class="card pointer">
            <div class="card-body">
                <div class="container">
                    <div class="image-container">
                        <i class="fas fa-users mainColor fs-2"></i>
                    </div>
                </div>
                <h5 class="mb-1 mt-2">{{'::Menu:MyStudents' | abpLocalization}}</h5>
                <p>
                    <small align="justify" class="text-muted">
                        <!-- chaGpt: description for link which take me to  show my created courses -->
                        {{"::myStudentDesc" | abpLocalization}}
                    </small>
                </p>
            </div>
        </div>
    </div>
    <!-- Card Two -->
    <div class="col-12 col-md-4 col-sm-6" routerLink="/my-courses">
        <div class="card pointer">
            <div class="card-body">
                <div class="container">
                    <div class="image-container">
                        <i class="fa fa-university mainColor fs-2"></i>
                    </div>
                </div>
                <h5 class="mb-1 mt-2">{{'::Menu:MyCourses' | abpLocalization}}</h5>
                <p>
                    <small align="justify" class="text-muted">
                        {{"::myCoursesDesc" | abpLocalization}}
                    </small>
                </p>
            </div>
        </div>
    </div>

    <!-- Card three -->
    <div class="col-12 col-md-4 col-sm-6">
        <div class="card pointer" routerLink="/instructor-Info">
            <div class="card-body">
                <div class="container">
                    <div class="image-container">
                        <i class="fa fa-info-circle mainColor fs-2"></i>
                    </div>
                </div>
                <h5 class="mb-1 mt-2">{{'::Menu:instructorInfo' | abpLocalization}}</h5>
                <p>
                    <small align="justify" class="text-muted">
                        {{"::instructorInfoDesc" | abpLocalization}}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
