.duration{
    position: absolute;
    bottom: 0;
    right: 1px;
    color: #fff;
    background-color: gray;
    padding: 2px;
    border-radius: 4px;
}
.video:hover{
    background-color: #e7e9ec ;
}