<div class="row" style="align-items: center">
    <div class="col col-md-6">
      <h5 class="card-title">
        {{ '::Menu:Students' | abpLocalization }}
      </h5>
    </div>
  </div>
  <div class="card mt-2">
    <div class="input-group">
      <input
        type="text"
        class="form-control bg-white"
        [placeholder]="'::Search' | abpLocalization"
        [(ngModel)]="studentsFilter.filterText"
        #search
      />
      <div class="input-group-append mainBackground">
        <button class="btn" type="button">
          <i class="fa fa-search text-white"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <ngx-datatable [rows]="students.items" [count]="students.totalCount" [limit]="10" (page)="setPage($event)"
      [offset]="page.pageNumber" [externalPaging]="true" 
      [messages]="{emptyMessage: '::NoDatatoDisplay' | abpLocalization}" default>
        <ngx-datatable-column
          [name]="'::Actions' | abpLocalization"
          [sortable]="false"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="getStudentDetails(row.id)">
                  {{ '::View' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  [name]="'::firstName' | abpLocalization" prop="firstName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.firstName || "-"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  [name]="'::lastName' | abpLocalization" prop="lastName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.lastName || "-"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  [name]="'::gender' | abpLocalization" prop="gender">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ '::Enum:gender:' + row.gender | abpLocalization }}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column [maxWidth]="250" [name]="'::email' | abpLocalization" prop="email"></ngx-datatable-column> -->
        <ngx-datatable-column  [name]="'::dob' | abpLocalization" prop="dob">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.dob | date: 'dd/MM/yyyy' }}
              </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  
  <!-- End Table -->

  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ '::studentDetails' | abpLocalization }}:</h3>
    </ng-template>
    <ng-template #abpBody>
      <ul *ngIf="selectedStudent" class="list-group">
        <li class="list-group-item"><strong>First Name:</strong> {{selectedStudent.firstName}}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{selectedStudent.lastName}}</li>
        <li class="list-group-item"><strong>Gender:</strong> {{ '::Enum:gender:' + selectedStudent.gender | abpLocalization }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{selectedStudent.email}}</li>
        <li class="list-group-item"><strong>Date of Birth:</strong> {{selectedStudent.dob | date}}</li>
        <li class="list-group-item"><strong>Current Language:</strong> {{ '::Enum:currentLanguage:' + selectedStudent.currentLanguage | abpLocalization }}</li>
    </ul>
    </ng-template>
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary cancel-btn" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>
  
