.all{
    background: url('../../../assets/download.svg');
    background-size: contain;
}
a{
    cursor: pointer;
}
.card-body{
    width: 500px !important;
}
.mainLogo{
    width: 295px;
    height: 225px;
    display: block;
    margin: 0 auto;
}